Date: tuesday, 2 Feb 2021
#1 => الكابشن الرئيسى "الموقع الرسمي لفضيلة ..... السابق" بعيد قليلًا إلى اليسار. حاول وضعه في منتصف الشاشة تقريبًا	{ تم }

#2 => تكبير فونت الكابشن الرئيسي درجة او درجتين بشرط الا تسوء الجودة					{ تم }

#3 => تصغير المسافة بين الازرار الذهبية الي النصف						{ تم }

#4 => تعديلات لغوية									{ تم }
======================================================

Date: tuesday, 9 Feb 2021
#1 => ظبط مقاسات الصور في الموقع							{ تم }

#2 => pdf تصميم صفحة تعريف الشيخ بدل عرض ملف ال						{ تم }

======================================================
Date: Thursday, 11 Feb 2021
#1 => زيادة المسافة بين الكلام والخط الزخرفي في الصفحة الرئيسية					{ تم }

#2 => اضافة الشدة في كلمة السفرة في السلايدر الثاني في الصفحة الرئيسية					{ تم }

#3 => حذف علامة الحقوق من ذيل الصفحة والاكتفاء بالنص فقط						{ تم }

======================================================
Date: tuesday, 23 Feb 2021
#1 => الكلام في السلايدر الثاني يتداخل مع الصورة الزخرفية, وتم ارسال صور الخلفية لتركيبها واصلاح ذلك		{ تم }

#2 => هناك اخطاء املائية في صفحة تعريف بالشيخ اصلحها						{ لم يتم ارسال الاخطاء بعد }